<!-- Author:    Jared Myers -->
<!-- Date:      08.07.2025 -->
<html>
    <head>
        <title>Data Table</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <p>Below is the data entered so far. The newest entry is highlighted at the top of the table.</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Title</th>
                <th>Hometown</th>
            </tr>
            {% for row in data %}
            {% if row == data[0] %}
            <tr class="newest_row">
                <td>{{row.name}}</td>
                <td>{{row.age}}</td>
                <td>{{row.title}}</td>
                <td>{{row.hometown}}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{row.name}}</td>
                <td>{{row.age}}</td>
                <td>{{row.title}}</td>
                <td>{{row.hometown}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        <br />
        <a href="http://localhost:5000/">Back to Home</a>
    </body>
</html>