<html>
    <head>
        <title>Data Entry</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <h1>Data Entry Web Application</h1>
        <p>Created by Jared Myers, 08.07.2025</p>
        <h1>Enter data here</h1>
        <form action="http://localhost:5000/submit/" method="post">
            <table>
                <tr>
                    <td><label for="name">Name</label></td>
                    <td><input type="text" name="name" required/></td>
                </tr>
                <tr>
                    <td><label for="age">Age</label></td>
                    <td><input type="number" name="age" step="1" min="1" max="150"/></td>
                </tr>
                <tr>
                    <td><label for="title">Title</label></td>
                    <td>
                        <select name="title" required>
                            <option selected>Other</option>
                            <option value="Ms.">Ms.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Dr.">Dr.</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="hometown">Hometown</label></td>
                    <td><input type="text" name="hometown"/></td>
                </tr>
            </table>
            <br />
            <input id="submit" type="submit" value="Submit">
        </form>
    </body>
</html>